$default-text-color: #373737;

$header-bgcolor: #333;
$header-color: white;

$panelcontainer-bgcolor: #ccc;

$editbox-bgcolor: #eee;
$editbox-color: $default-text-color;

$previewbox-bgcolor: #fff;
$previewbox-color: $default-text-color;

$footer-bgcolor: #333;
$footer-color: #ccc;

$preview-link-color: hsl(208,70%,60%);
$preview-visited-color: $preview-link-color;
// $preview-visited-color: hsl(258,50%,60%);
$preview-hover-color: hsl(208,50%,80%);

$preview-pre-bgcolor: hsl(208,0%,10%);
$preview-pre-color: hsl(208,0%,80%);

$preview-code-bgcolor: hsl(208,0%,95%);
$preview-code-color: hsl(208,0%,45%);

$preview-blockquote-bgcolor: hsl(208,0%,95%);
$preview-blockquote-color: $default-text-color;