$editbox-fontsize: 14px;

.editbox {
  flex: 1;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: $editbox-padding;
  font-family: $editing-font-family;
  font-size: $editbox-fontsize;
  background: $editbox-bgcolor;
  color: $editbox-color;
  &::selection {
    background: #888;
    color: white;
  }
}