.panelcontainer {
  display: flex;
  flex: 1;
}

.leftpanel, .rightpanel {
  display: flex;
  flex-direction: column;
}

.leftpanel {
  flex: 21;
  border-right: 2px solid #ddd;
  // box-shadow: 0 0 10px hsla(0,0%,0%,0.4);
  z-index: 10;
}

.rightpanel {
  flex: 34;
  z-index: 1;
}
