$default-font-family: 'Source Sans Pro';
$editing-font-family: 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
// $preview-font-family: $default-font-family;
// $preview-font-family: 'Helvetica Neue';
$preview-font-family: 'Verdana';


